@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;  
}

body{
    background-image:linear-gradient(to right, #90F280, #4BA6A6);
}

main{
    background-color: #fff;
    box-shadow: 10px 10px 10px #337474ab;/*1ยบ tamanho ร direita, 2ยบ para baixo e 3ยบ espalhamento*/
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;/*Ajusta a main no centro, independente do tamanho da tela*/
}
h1{
    color: #4BA6A6;
    text-align: center;
    text-shadow: 1px 1px 2px #214b4bd0;
}

h2{
    color: #034f5e;
}

p{
    text-align: justify;
}